In [1]:
import pandas as pd

In [2]:
flu = pd.read_csv("new_data/all_flu.csv")
phm = pd.read_csv("new_data/PHM2017.csv")
print(flu.head())
print(phm.head())

     Tweet ID    Disease  Label
0  6003319713  Influenza      3
1  6002055513  Influenza      3
2  5994839708  Influenza      2
3  5991525204  Influenza      3
4  5989718714  Influenza      2
             Tweet ID    Disease  Label
0  811746810733723649  alzheimer      1
1  902649153792098304  alzheimer      1
2  811695298359783424  alzheimer      0
3  811696543501864961  alzheimer      1
4  813212976257896449  alzheimer      1

In [4]:
tweets_flu = pd.read_csv("tweets/all_flu_tweets.csv")
tweets_phm = pd.read_csv("tweets/phm2017_tweets.csv")
print(tweets_flu.head())
print(tweets_phm.head())

  Unnamed: 0    Tweet Id                                               Text  \
0          0  6003319713  Getting a little fed up with having (Insert Ra...
1          1  5991525204  Just getting over swine flu.  It must have bee...
2          2  5989718714  this flu season is a horrible. everyone is get...
3          3  5986621813  so glad @blakewsmith won't be getting the pig ...
4          4  5986140306  @saracrow Luck luck. I got mine Friday.  My ar...

      Username
0       zenemu
1  writerbrock
2         olow
3  leighwsmith
4     BoyceDan
  Unnamed: 0            Tweet Id  \
0          0  811746810733723649
1          1  813212976257896449
2          2  811773376653979648
3          3  902649330645000192
4          4  905510725791207425

                                                Text       Username
0  New Alzheimer Society resources to support a m...       CAOT_ACE
1  What to Know About Thyroid and Alzheimer's htt...   yellowclaire
2  Hippocampus ! If this part are damage we could...      _stellaa7
3  How tackling hearing loss could reduce your ri...  Alzheimerduff
4  Finding the fun in the fog of Alzheimer’s\nvia...    Watersun555

In [5]:
tweets_flu.drop(columns=["Unnamed: 0"], inplace = True)
tweets_flu.head()

     Tweet Id                                               Text     Username
0  6003319713  Getting a little fed up with having (Insert Ra...       zenemu
1  5991525204  Just getting over swine flu.  It must have bee...  writerbrock
2  5989718714  this flu season is a horrible. everyone is get...         olow
3  5986621813  so glad @blakewsmith won't be getting the pig ...  leighwsmith
4  5986140306  @saracrow Luck luck. I got mine Friday.  My ar...     BoyceDan

In [6]:
tweets_phm.drop(columns=["Unnamed: 0"], inplace = True)
tweets_phm.head()

,Tweet Id,Text,Username
0,811746810733723649,New Alzheimer Society resources to support a m...,CAOT_ACE
1,813212976257896449,What to Know About Thyroid and Alzheimer's htt...,yellowclaire
2,811773376653979648,Hippocampus ! If this part are damage we could...,_stellaa7
3,902649330645000192,How tackling hearing loss could reduce your ri...,Alzheimerduff
4,905510725791207425,Finding the fun in the fog of Alzheimer’s\nvia...,Watersun555

In [8]:
temp = [flu, phm]
all_labels = pd.concat(temp)
temp = [tweets_flu, tweets_phm]
all_tweets = pd.concat(temp)

In [12]:
all_labels.rename(columns={"Tweet ID": "tweet_id"}, inplace = True)
all_labels

                tweet_id    Disease  Label
0             6003319713  Influenza      3
1             6002055513  Influenza      3
2             5994839708  Influenza      2
3             5991525204  Influenza      3
4             5989718714  Influenza      2
...                  ...        ...    ...
7186  813207357689892864     stroke      3
7187  903019970292060169     stroke      0
7188  902668028055175168     stroke      1
7189  902669513962991616     stroke      0
7190  813196462196658177     stroke      0

[13359 rows x 3 columns]

In [13]:
all_tweets.rename(columns={"Tweet Id": "tweet_id"}, inplace = True)
all_tweets

,tweet_id,Text,Username
0,6003319713,Getting a little fed up with having (Insert Ra...,zenemu
1,5991525204,Just getting over swine flu. It must have bee...,writerbrock
2,5989718714,this flu season is a horrible. everyone is get...,olow
3,5986621813,so glad @blakewsmith won't be getting the pig ...,leighwsmith
4,5986140306,@saracrow Luck luck. I got mine Friday. My ar...,BoyceDan
...,...,...,...
4414,905528009188413441,"Eyes on her feet, lips on her toes. Now keep q...",Kinky_Girlie
4415,905524344016830465,When I watch Trump's vids w/o sound...I feel l...,Cori_Jo
4416,902665550148509696,Bruh i almost had a heat stroke coming to work,Lillyy_Vee
4417,902669513962991616,after i stroke her leave her pussy soakin😋,J2Almighty
4418,813196462196658177,"stroke my,\nlick my,\nsuck on my cock — is thi...",jackbamist

In [19]:
all_tweets.convert_dtypes().dtypes

tweet_id    string
Text        string
Username    string
dtype: object

In [20]:
all_labels.convert_dtypes().dtypes

tweet_id     Int64
Disease     string
Label        Int64
dtype: object

In [22]:
try:
    all_tweets['tweet_id'] = pd.to_numeric(all_tweets['tweet_id']) 
except ValueError:
    # I want to register on my log the message recived on ORIGINAL VALUE
    mask = pd.to_numeric(all_tweets['tweet_id'].fillna('0'), errors='coerce').isna() 
    L = all_tweets.loc[mask, 'tweet_id'].tolist()
    for val in L:
        print (f"Not converted values are: {val}")
        #log.exception(f"Not converted values are: {val}")

Not converted values are: those2girls
Not converted values are: dldavispmp
Not converted values are: those2girls
Not converted values are: injooniie
Not converted values are: MCProductions_1

In [23]:
# consider the list
list1 = ['those2girls', 'dldavispmp', 'injooniie','MCProductions_1']
 
# drop rows from above list
all_tweets =  all_tweets[all_tweets.tweet_id.isin(list1) == False]

all_tweets = all_tweets[all_tweets.tweet_id.isin([0]) == False]

In [24]:
all_tweets['tweet_id'] = pd.to_numeric(all_tweets['tweet_id'])

In [25]:
all_data = pd.merge(all_labels, all_tweets, on="tweet_id")

In [26]:
all_data

,tweet_id,Disease,Label,Text,Username
0,6003319713,Influenza,3,Getting a little fed up with having (Insert Ra...,zenemu
1,5991525204,Influenza,3,Just getting over swine flu. It must have bee...,writerbrock
2,5989718714,Influenza,2,this flu season is a horrible. everyone is get...,olow
3,5986621813,Influenza,2,so glad @blakewsmith won't be getting the pig ...,leighwsmith
4,5986140306,Influenza,3,@saracrow Luck luck. I got mine Friday. My ar...,BoyceDan
...,...,...,...,...,...
6238,813159580792406016,stroke,0,"@NoceurTitanium\n""Depends on the lighting."" Sh...",JokerWithABow
6239,902691300817879040,stroke,1,Methamphetamines tied to higher stroke risk am...,KimEnsorRN
6240,813224844414349312,stroke,1,Meanwhile in the south we stay indoors to avoi...,jakemck1993
6241,902665550148509696,stroke,1,Bruh i almost had a heat stroke coming to work,Lillyy_Vee
6242,902669513962991616,stroke,0,after i stroke her leave her pussy soakin😋,J2Almighty

In [27]:
all_data.to_csv("all_data.csv", index = False)

In [28]:
model_input = all_data.drop(['Disease', 'Username'], axis=1)
model_input

,tweet_id,Label,Text
0,6003319713,3,Getting a little fed up with having (Insert Ra...
1,5991525204,3,Just getting over swine flu. It must have bee...
2,5989718714,2,this flu season is a horrible. everyone is get...
3,5986621813,2,so glad @blakewsmith won't be getting the pig ...
4,5986140306,3,@saracrow Luck luck. I got mine Friday. My ar...
...,...,...,...
6238,813159580792406016,0,"@NoceurTitanium\n""Depends on the lighting."" Sh..."
6239,902691300817879040,1,Methamphetamines tied to higher stroke risk am...
6240,813224844414349312,1,Meanwhile in the south we stay indoors to avoi...
6241,902665550148509696,1,Bruh i almost had a heat stroke coming to work
6242,902669513962991616,0,after i stroke her leave her pussy soakin😋

In [29]:
model_input.to_csv("model_input.csv", index = False)